@import "../../../../index.scss";

.delete_message_modal,
.delete_comment_modal {
    text-align: center;

    .modal-header {
		border-bottom: 0 none;
	}

	p {
		line-height: normal;
	}

	form {

		h4 {
			font-weight: 900;
		}

		.buttons_container {
			margin-top: 40px;
			padding-left: 40px;
			text-align: center;

			.success_button {
				margin-left: 50px;
				padding: 15px 40px;
			}
		}
	}
}