@import "../../../../index.scss";

.edit_comment_form,
.edit_message_form {
    textarea {
        @extend .textarea;
        height: 84px;
        margin-bottom: 15px;
    }

    p {
        margin-top: 0;
    }
}