@import "../../index.scss";

.login_container {
    display: flex;
    height: 100vh;

    .form_container {
        flex: 1.5;

        form {
            @extend .box_container;
            box-sizing: border-box;
            color: $font_color;
            margin: 70px auto;
            padding: 40px;
            width: 450px;

            h3 {
                color: $primary_color;
                font-weight: 900;
                margin-top: 0;
            }

            h1 {
                font-weight: 900;
                margin-bottom: 30px;
                margin-top: 40px;
            }

            .form_group {
                margin-block: 20px;

                & > label {
                    display: block;
                    margin-bottom: 8px;
                }

                .forgot_password_container {
                    align-items: flex-end;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 8px;

                    a {
                        color: rgba($black, 50%);
                        font-size: 14px;
                        text-decoration: none;
                    }
                }

                input {
                    background-color: rgba($primary_color, 8%);
                    border-radius: 4px;
                    border: none;
                    box-sizing: border-box;
                    color: $font_color;
                    height: 55px;
                    padding-inline: 20px;
                    width: 100%;
                }

                .error_message {
                    color: $error_color;
                    font-size: 14px;
                    margin-block: 5px;
                    visibility: hidden;
                    height: 21px;
                }

                .show_error_message {
                    visibility: visible;
                }

                .show_error_color {
                    background-color: rgba($error_color, 8%);
                }
            }

            button {
                @include button(4px, 15px 40px);
                display: block;
                margin: 20px auto;
            }

            p {
                color: rgba($black, 20%);
                margin-bottom: 0;
                margin-top: 40px;
                text-align: center;

                a {
                    color: $primary_color;
                    text-decoration: none;
                }
            }
        }
    }

    .illustration_container {
        background-color: rgba($primary_color, 51%);
        flex: 1;
        position: relative;

        img {
            left: -70px;
            position: absolute;
            top: 160px;
        }
    }
}