@import "../../../../index.scss";

.create_message_modal {
	.modal-header {
		border-bottom: 0 none;
	}

    .modal-body {
		text-align: center;
	}

	h4 {
		font-weight: 900;
	}

	form {
		textarea {
			@extend .textarea;
			min-height: 185px;
		}

		.buttons_container {
			text-align: right;
		}
	}
}